.widgets table {
  width: 100%;
  border: 1px solid silver;
}

.widgets table tr {
  background-color: #FFFFFF;  
}
.widgets table tr:hover {
  background-color: #F0F0F0;
}

.widgets table td {
  padding: 5px;
  border-bottom: 1px solid silver;
}

.widgets table tr:last-child td{
  border-bottom: none;
}

.widgets table td a {
  display:block;
  text-decoration:none;
  color: #000;
}

.widgets table td.image {
  width: 104px;
  text-align:center;
}

.widgets table td img {
  max-width: 100px;
  max-height: 75px;
}

.widgets table td h2 {
  font-size: 100%;
  margin-bottom: 0.2em;
}

.widgets table td p {
  margin-top: 0;
}

