Source: <%= debian_name %>
Section: science
Priority: extra
Maintainer: <%= Apaka::Packaging::Config.maintainer %>
% dependencies = (deps_rock_packages + deps_osdeps_packages + deps_nonnative_packages).flatten
Build-Depends: 
Standards-Version: 3.9.2
Homepage: <%= Apaka::Packaging::Config.homepage %>

Package: <%= debian_name %>
Architecture: any
<% runtime_dependencies = dependencies.dup %>
<% if runtime_dependencies.empty?  %>
Depends: ${shlibs:Depends}
<% else %>
Depends: ${shlibs:Depends}, <%= runtime_dependencies.join(", ") %>
<% end %>
Description: Meta package for <%= Apaka::Packaging::Config.description %>

