Source: <%= debian_name %>
Section: science
Priority: extra
Maintainer: Rock Packaging Daemon <rock-dev@dfki.de>
Build-Depends: cdbs, debhelper (>= 8.0.0), pkg-config, dh-autoreconf, <%= build_dependencies.uniq.sort.join(", ") %>
Standards-Version: 3.9.2
Homepage: http://rock-robotics.org
#Vcs-Git: git://git.debian.org/collab-maint/bla.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/bla.git;a=summary

Package: <%= debian_name %>
Architecture: any
<% runtime_dependencies = dependencies.dup %>
<% if runtime_dependencies.empty?  %>
Depends: ${shlibs:Depends}
<% else %>
Depends: ${shlibs:Depends}, <%= runtime_dependencies.join(", ") %>
<% end %>
Description: <%= short_documentation.split("\n").join(" ").strip %>
% docs = (documentation.empty?)?"No documentation in manifest":
%   documentation.split("\n").map do |l|
%      l = l.strip
%      if l.empty?
%        l = "."
%      end
%      l
%    end.join("\n  ")
 <%= docs %>

