#!/usr/bin/make -f

# BEGIN ENVIRONMENT SETUP
rock_install_dir = <%= rock_install_directory %>
rock_bindir = /tmp/rock/bin

# Extract the default ruby version to build for on that platform
# this assumes a proper setup of /usr/bin/ruby
ruby_ver=$(shell ruby --version)
ruby_arch_dir=$(shell ruby -r rbconfig -e "print RbConfig::CONFIG['archdir']")
rockruby_archdir=$(subst /usr,$(rock_install_dir),$(ruby_arch_dir))

ruby_libdir =$(shell ruby -r rbconfig -e "print RbConfig::CONFIG['rubylibdir']")
rockruby_libdir=$(subst /usr,$(rock_install_dir),$(ruby_libdir))

# Update execution path for orogen, so that it picks up ruby-facets (since we don't put much effort into standardizing facets it installs in
# vendor_ruby/standard and vendory_ruby/core) -- from Ubuntu 13.04 ruby-facets will be properly packaged
rockruby_extra_libdir = /usr/lib/ruby/vendor_ruby/standard/:/usr/lib/ruby/vendor_ruby/core/

# Setting up the env variables
env_setup = PATH=$(rock_bindir):$(PATH)
env_setup += RUBYLIB=$(rockruby_libdir):$(rockruby_archdir):$(rockruby_extra_libdir):$(RUBYLIB)
env_setup += Rock_DIR=$(rock_install_dir)/share/rock/cmake CMAKE_PREFIX_PATH=$(rock_install_dir)
env_setup += PKG_CONFIG_PATH=$(rock_install_dir)/lib/pkgconfig:$(PKG_CONFIG_PATH)
env_setup += LD_LIBRARY_PATH=$(rock_install_dir)/lib:$(LD_LIBRARY_PATH)
env_setup += OROGEN_PLUGIN_PATH=$(rock_install_dir)/share/orogen/plugins

DEB_VERBOSE_ALL=1
include /usr/share/cdbs/1/rules/debhelper.mk
DEB_DH_SHLIBDEPS_ARGS_ALL=-l$(rock_install_dir)/lib

pre-build::
	echo "Detected:"
	echo "   ruby version: $(ruby_ver)"
	echo "   ruby libdir: $(rockruby_libdir)"
	echo "   ruby archdir: $(rockruby_archdir)"


# END ENVIRONMENT SETUP
######################################
# BEGIN OROGEN -- This block needs to be executed before CMAKE

<% if package.class == Autobuild::Orogen %>
	# Making sure orogen is executed before cmake is called
	echo "pre-build: calling orogen in order to generate CMake layout"
	$(env_setup) orogen <%= Autobuild::Orogen.orogen_options.join(" ") %> <%= pkg.orogen_options.join(" ") %> --corba --transports=corba,mqueue,typelib --type-export-policy=used <%= package.orogen_file %>
<% end %>

# END OROGEN
######################################
# BEGIN CMAKE
#
<% if package.class == Autobuild::CMake || package.class == Autobuild::Orogen %>
# Defining the cmake command and setting the required enviroment variables
# PKG_CONFIG_PATH Resolve Rock package via pkg-config
# Rock_DIR Set to make sure find_package(Rock) does work
# ROCK_CMAKE_MACROS Used in some patches to set the CMAKE_MODULE_PATH, allowing to find Rock.cmake
CMAKE = $(env_setup) cmake
DEB_CMAKE_INSTALL_PREFIX = $(rock_install_dir)

# Debian packaging discourages the use of rpath, and 
# cdbs actively disables it setting CMAKE_SKIP_RPATH=ON
# however since we install into <%= rock_install_directory %> we turn skipping off again
# CXXFLAGS+=-Wl,-rpath-link,<%= rock_install_directory %>/lib
DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_SKIP_RPATH=OFF
# Telling FindGEM.cmake to search for os packages using pkg-config and not for gems
DEB_CMAKE_EXTRA_FLAGS += -DGEM_OS_PKG=TRUE
# Disable ROCK Testing -- since running test on the OBS would require proper setting of path, etc. (see. data_processing/type_to_vector)
DEB_CMAKE_EXTRA_FLAGS += -DROCK_TEST_ENABLED=OFF
# Leaving RUBY_EXECUTABLE unset since it maps to a path of the user executing the upload script
DEB_CMAKE_EXTRA_FLAGS += <%= package.defines.map { |k, v| "-D#{k}=#{v}" unless "#{k}" == "RUBY_EXECUTABLE" }.join(" ") %>
include /usr/share/cdbs/1/class/cmake.mk

# END CMAKE
##########################################
# BEGIN AUTOTOOLS
#
<% elsif package.class == Autobuild::Autotools %>
DEB_CONFIGURE_PREFIX= <%= rock_install_directory %>
DEB_MAKE_EXTRA_FLAGS = <%= package.configureflags.join(" ") %>
    <% if package.using[:libtool] %>
DEB_AUTO_UPDATE_LIBTOOL = pre # post / pre
    <% end %>
    <% if package.using[:aclocal] %>
# -- extract the first list of the command 'aclocal --version'
# -- then grep the very last word, i.e., the version string
# -- then extract the first two elements of the version string, since that is how the version tool link are named
aclocal_version_ws=$(subst ., , $(lastword $(shell aclocal --version | grep aclocal)))
DEB_AUTO_UPDATE_ACLOCAL = $(shell echo "$(word 1, $(aclocal_version_ws)).$(word 2, $(aclocal_version_ws))")
    <% end %>
    <% if package.using[:autoconf] %>
autoconf_version_ws=$(subst ., , $(lastword $(shell autoconf --version | grep autoconf)))
DEB_AUTO_UPDATE_AUTOCONF = $(shell echo "$(word 1, $(autoconf_version_ws)).$(word 2, $(autoconf_version_ws))")
        <% if !package.using[:aclocal] %>
aclocal_version_ws=$(subst ., , $(lastword $(shell aclocal --version | grep aclocal)))
DEB_AUTO_UPDATE_ACLOCAL = $(shell echo "$(word 1, $(aclocal_version_ws)).$(word 2, $(aclocal_version_ws))")
	<% end %>
    <% end %>
    <% if package.using[:automake] %>
automake_version_ws=$(subst ., , $(lastword $(shell automake --version | grep automake)))
DEB_AUTO_UPDATE_AUTOMAKE = $(shell echo "$(word 1, $(automake_version_ws)).$(word 2, $(automake_version_ws))")
    <% end %>
    <% if package.using[:autoheader] %>
autoheader_version_ws=$(subst ., , $(lastword $(shell autoheader --version | grep autoheader)))
DEB_AUTO_UPDATE_AUTOHEADER = $(shell echo "$(word 1, $(autoheader_version_ws)).$(word 2, $(autoheader_version_ws))")
    <% end %>
include /usr/share/cdbs/1/class/autotools.mk

# END AUTOTOOLS
############################################
# BEGIN IMPORTER
#
<% elsif package.importer.kind_of?(Autobuild::ArchiveImporter) || package.kind_of?(Autobuild::ImporterPackage) %>
CMAKE = $(env_setup) cmake
DEB_CMAKE_INSTALL_PREFIX = $(rock_install_dir)
DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_SKIP_RPATH=OFF
DEB_CMAKE_EXTRA_FLAGS += -DGEM_OS_PKG=TRUE
# Leaving RUBY_EXECUTABLE unset since it maps to a path of the user executing the upload script
include /usr/share/cdbs/1/class/cmake.mk

# END IMPORTER
# ##########################################
#
<% else 
raise "debian/rules: cannot handle package type #{package.class} for #{package.name}"
end %>
