#!/usr/bin/make -f

CMAKE = PKG_CONFIG_PATH=/opt/rock/lib/pkgconfig ROCK_CMAKE_MACROS=/opt/rock/share/cmake/rock cmake
DEB_CMAKE_INSTALL_PREFIX = /opt/rock
DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_MODULE_PATH=/opt/rock/share/cmake/rock
include /usr/share/cdbs/1/rules/debhelper.mk
<%=
   if package.class == Autobuild::CMake
       "include /usr/share/cdbs/1/class/cmake.mk"
   else
       raise "cannot handle package type #{package.class} for #{package.name}"
   end
%>
